*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    font-family: "Tiny5", sans-serif;
    background-image: url(gifbackground.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

    nav{
     width: 100%;
     height: 7em; 
     background-color: rgba(0,0,0,0.8);
     padding-left: 30px; 
     padding-right: 30px;  
     display: flex;
     justify-content: space-between;
     align-items: center;   
      border-bottom: 3px solid rgba(255,255,255,0.2); 
      border-style: groove;
      border-width: 5px;
      border-color: rgba(85, 65, 81, 0.397);
      border-radius: 5px;
      background-color: rgba(87, 61, 110, 0.082);
      overflow: hidden;
      position: fixed;
   }
    
    .logo{
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .logo a{
        margin-left: 5px;
        font-size: 60px;
        font-weight: 900;
        font-family: "Tiny5", sans-serif;
        text-shadow: 2px 6px 0px rgb(93, 52, 131);
        color: white
    }

    .logo img{
        width: 45px;
        margin-top: 10px;
    }

    .menu{
        margin-right: 0;
        margin-left: 50px;
    }

    .name{
        font: 24px; 
        font-weight: bold;
        text-transform: uppercase;
        text-shadow: 2px 2px 5px rgba(0,0,0,0.8);
        
    }

    .menu ul {
        display: flex;
        gap: 15px;
    }
 
    .menu ul li{
        display: inline-block;
        list-style: none;
        justify-content: space-between; 
        padding: 5px;
    }

    .menu ul li a{
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: 17px;
        margin: 15px;
        text-shadow: 2px 1px 0px rgba(31, 16, 44, 0.719);
        
    } 

    .menu ul li a:hover{
        color: lightgray;
        border-radius: 5px;
        color: white;
        background-color: rgba(140, 116, 146, 0.151); 
        cursor: pointer;
        padding: 5px;
        font-size: 18px;
        
    }
    
    .menu ul li a:active{
        color: rgba(140, 136, 143, 0.658);
        padding: 5px;   
        font-size: 15px; 
    }

    .button{
        display: flex;
        gap: 10px;
        margin-left: 845px;
    
    }

    button{
        background-color: rgb(218, 213, 224); 
        color: rgb(0, 0, 0);  
        font-size: 17px;
        padding: 8px 12px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 8px;
        border-style: groove;
        justify-content: space-between;
        margin-left: 5px;
        border: none;
        cursor: pointer;  
        font-weight: bold;
           
    }

    button a{
        color: rgb(13, 8, 19);
        text-decoration: none;
        font-weight: bold;
        font-family: "Tiny5", sans-serif;
        font-size: 20px;  
    }

    button:hover{
        background-color: lightgray;
        cursor: pointer;
    }

    button a:hover{
        color: rgb(63, 61, 65);
    }
    
    
    button:active {
        color: rgb(98, 88, 109);  
    }

    #footer{
        width: 100%;
        margin-top: 38%;
        margin-bottom: 0;
        text-align: center;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0);
        color: white;
        font-size: 40px;
        position: fixed;
        top: 110px;
    }
    
    .cat{
        position: absolute;
        right: 82%;
        top: 69%;

    }
     .cat img{
        width: 120px;
        margin-left: 65%;
     }
    
     .cat p{
        margin-left: 45px;
     }


   
    @media (max-width: 800px) {
        body{
            background-image: url(ded.gif);
        }

        nav{
            border: none;
            overflow: none;
        }
        .logo{
            align-items: center;
            justify-content: center;
            display: flex;
            margin-left: 40px;
        }

        .logo img{
            width: 60px;
        }

        .logo a{
            font-size: 50px;
            text-shadow: 4px 7px 0px rgb(0, 0, 0);
            text-align: center;
        }

        .menu ul{
            flex-direction: column;
            align-items: center;
            display: none;
            justify-content: center;       
        }

        .cat{
            position: fixed;
            right: 5%;
            left: 67%;
            top: 50%;
            font-size: 11px;
            
        }

        .cat img{
            width: 60px;
            margin-top: 45px;
            margin-left: 9%;
            
            
            
        }

        .cat p{
            font-size: 13px;
            margin-left: 15%;
        }

        

        
        #footer{
            background-color: rgba(0, 0, 0, 0);
            text-align: center;
            margin-top: 80%;
            font-size: 20px;
            position: absolute sticky;
            top: 90px;
            
        }
        
    }
    
    @media (max-width: 400px) {
        .logo a {
            font-size: 90px;
        }
        li a {
            font-size: 15px;
        }
        button {
            font-size: 14px;
        }
        .button {
            margin-top: 10px;
        }
    }